<form (ngSubmit)="onSubmit()" #clientForm="ngForm">
  <div>
    <label for="firstName">Nombre:</label>
    <input type="text" id="firstName" [(ngModel)]="client.firstName" name="firstName" required />
  </div>

  <div>
    <label for="lastName">Apellido:</label>
    <input type="text" id="lastName" [(ngModel)]="client.lastName" name="lastName" required />
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="client.email" name="email" required />
  </div>

  <button type="submit">{{ clientToEdit ? 'Actualizar' : 'Crear' }}</button>
  <button type="button" (click)="resetForm()">Limpiar</button>
</form>
